[submodule "L-Galaxies_development"]
	path = L-Galaxies_development
	url = https://github.com/boywert/L-Galaxy_Boyd_dev
[submodule "sources_generate"]
	path = sources_generate
	url = https://github.com/boywert/Sources_generate
[submodule "ionz_codes"]
	path = ionz_codes
	url = https://github.com/boywert/ionz_codes
