[submodule "L-Galaxies_development"]
	path = L-Galaxies_development
	url = https://github.com/boywert/L-Galaxy_Boyd_dev
[submodule "sources_generate"]
	path = sources_generate
	url = https://github.com/boywert/Sources_generate
